
.icon-tag:before { content: '\e800'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */