
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
