/* Feature-32 * About Us */
.feature_32 .container-32 {  
    display: flex;
    flex-direction: column;     
    flex-wrap: nowrap;  
    max-width: 500px; 
    font-family: 'Cormorant Garamond', serif;
    margin: 0 auto; 
}

.feature_32 .avatar { 
  margin-top: -60px;
  border-radius: 50%;
  width: 100px;  
}

.feature_32 p {
  text-align: center;
  margin: 0px;
  padding: 0px;
} 

.feature_32 .money {
  display: block;
  width: 100%;  
  margin: 0 auto; 
}

.feature_32 .content-1 {
  background: white;    
}

.feature_32 h1 {
  padding: 20px;
  text-align: center;
  flex: 100%;
  background: white;
  margin-bottom: 0px;
}

.feature_32 .social-icons {
  display: flex;
  flex-direction: row;  
  justify-content: center;  
}

.feature_32 .social-icons img {  
  max-width: 30px;    
  margin: 10px;
}
 

.feature_32 h3 {  
  margin: 0;
  text-align: center;
}





@media (min-width:640px) {
  .feature_32 .container-32 {    
    flex-direction: row;
    max-width: 1000px;
    flex-wrap: wrap;
  }

  .feature_32 .content-1 {    
    flex: 50%;            
  }

  .feature_32 .person-container {
    margin: 20px 20px 20px 20px;
  }
}



/* Feature 34  Funck*/
.feature_34 .content {
    display: flex; 
    flex-direction: column;
    background: white;
    flex-wrap: nowrap;
}

.feature_34 img {
  max-width: 50px;
}
.feature_34 .title {
    text-align: center;
}

.feature_34 p {
    margin: 20px;
    text-align: center;
}

.feature_34 h4 {
  text-align: center;
}
.feature_34 h1 {
    padding: 20px;
    text-align: center;
    flex: 100%;
    background: white;
}

.feature_34 .func {
    flex: 25%;
    margin-top: 15px;
}
  
.feature_34 .icon {
    text-align: center;
    
}

@media (min-width: 640px)
{
  .feature_34 .content {
    display: flex; 
    flex-direction: row;
    background: white;
    flex-wrap: wrap;
}
}
