
.slogan-page .hero-text {
    /* grid */
    grid-area: hero-text;

    padding-left: 44px;
}
.slogan-page .slogan {
    /* grid */
    grid-area: slogan;

    justify-self: center;
    align-self: center;
}

.slogan-page .hero-news {
   /* grid */
   grid-area: hero-news;
   justify-self: end;

}
.slogan-page>a{
   /* grid */
   grid-area: button-newsletter;
   justify-self: center;
   align-self: center;

    /* border */
   background-color: white;
   border: solid black;
   color: black;
   border-radius: 12px;
   padding: .5rem;

   text-decoration: none;
   font: bold 1.5rem Lato, sans-serif;

   /* FIXME: add ripple effect to button */
}

.slogan-page{
    height: 82vh; /* desktop */ 
    color: white;
    font-size: 27px;

    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.9fr 0.1fr;
    grid-template-areas: 
    "slogan slogan    slogan"
    "...... hero-text hero-text"
    "hero-news hero-news button-newsletter";

    /* grid items */

    justify-items: center;
    align-items: center;
}
.slogan-page h1 {
    font-size: 2.9rem;
    text-align: center;
}


@media screen and (max-width: 499px) {
    .slogan-page{
        /* fonts */
        font-size: 22px; 
        text-align: center;
        height: auto; /* for mobile */ 

        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "slogan"
        "hero-news"
        "button-newsletter"
        "hero-text"
        ;
    }
    .slogan-page .hero-text {
        padding: 0;
    }

}