
.slogan-page{
    color: var(--main-text-color);
    text-align: center;

    height: 82vh; /* height: 82vh; */ 

    /* flex config */
    display: flex;
    flex-direction: column;
}

.slogan-page>.name-app{
    font-family: "Pacifico", cursive;
    color: var(--main-color-1);
}
.slogan-page>.form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.slogan-page>.form>a{
    background-color: var(--main-color-4);
    border: solid;
    border-radius: 12px;
    padding: .5rem;

    text-decoration: none;
    font: bold 1rem sans-serif;
}

@media screen and (max-width: 499px) {
    .mobile--hide { /* hide description in hero section */
        display: none;
    }
}