.feater_30 {
  background: white;
  color: black;
}
.feater_30 .column {
  display: flex;
  background: #436984;
  color: white;
}
.feater_30 .left {
  flex: 1;
}
.feater_30 .right {
  flex: 1;
}
.feater_30 .first {
  display: flex;
}
.feater_30 li {
  display: flex;
  flex-direction: column;
}
.feater_30 div.left {
  display: flex;
}
.feater_30 div.right {
  padding-right: 40px;
}
.feater_30 img {
  width: 50px;
  height: 50px;
}
.feater_30 h3 {
  margin-left: 20px;
  text-decoration: none;
}
.feater_30 h1 {
  background: #436984;
  padding: 20px;
  text-align: center;
  margin: 0;
  color: white;
}
.feater_33 {
  background: #436984;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.feater_33 p {
  margin-left: 10px;
  font-size: 24px;
}
.feater_33 label {
  margin-left: 10px;
}
.feater_33 input {
  border-width:0px;
  font-size: 20px;
  border-radius: 40px;
  padding: 20px 20px;
  box-shadow: 12px 12px 25px -13px rgba(0,0,0,0.34);

}
.feater_33 button {
  border-width:0px;
  letter-spacing:1px;
  font-weight:700;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;
  border-radius: 40px;
  background-color: rgb(48, 128, 235);
  color: white;
  padding:20px 60px;
  font: bold 1.5rem Lato, sans-serif;

  box-shadow: 12px 12px 25px -13px rgba(0,0,0,0.34);
}
.email {
  width: 290px;
  margin-right: 20px;
}
@media (max-width: 639px) {
  .email {
    margin-right: 0;
  }
  .feater_30 .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 40px;
  }
  .feater_30 label {
    display: flex;
    margin-top: 10px;
  }
  .feater_33 {
    padding: 20px;
  }
  .feater_33 button {
    margin: 20px;
    cursor: pointer;
  }
}
@media (min-width: 640px) {
  .feater_30 .column {
    display: flex;
    flex-direction: row;
  }
  .feater_30 .right {
    align-items: center;
  }
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 5px solid #436984;
  width: 50%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.open-page:hover,
.open-page:focus {
  color: #000;
}
#no {
  float: none;
  font-weight: 200;
}
