* {
    box-sizing: border-box;
}

/* for all - no media queries */

/* setup & reset */
* {
  box-sizing: border-box;
}

/* variables */
:root {
 /* colors */
 --main-color-1: #845EC2;
 --main-color-2: #00C9A7;
 --main-color-3: #4D8076;
 --main-color-4: #C4FCEF;
 --main-text-color: white;
}

.container{
  margin:0px auto;
  max-width:960px;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("img/background_hero.png");
    
  
  /* typography section */
  
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  padding: .1em;
  /* background-color: azure; */
  background-color: rgba(240, 255, 255, .5); /* color:azure */
  border-radius: 12px;
  color: var(--main-color-3);
}




@media screen and (min-width:640px){
  main{
      margin-top:115px;
  }
}

