* {
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

.container{
  margin:0px auto;
  max-width:960px;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background: url("img/background_hero.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  background-attachment: fixed;

  /* typography section */
  
  font-family: 'Lato', sans-serif;
  letter-spacing:1px;
  line-height: 1.4;
}

h1 {
  font-size: 30px;
  margin-top: 0;
  padding: .1em;
  text-shadow:5px 5px 10px black; 
}

main section{
  margin:15px 0;
}

@media screen and (min-width:640px){
  main{
      margin-top:115px;
  }
/* fix for fixed menu and scrolling offset in desktop view*/
h6 {
  position:relative
}
h6 span{
  position:absolute;
  top:-115px;
}
} /* END media section */

