* {
    box-sizing: border-box;
}

.feater_30 {
    background: #cfc0f7fa;
}
.column {
    display: flex;
}
.left {
    flex: 1;
}
.right {
    flex: 1;
}
.first {
    display: flex;
}
li {
    display: flex;
    flex-direction: column;
}
div.left {
    display: flex;
    flex-direction: column-reverse;
}
img {
    width: 60px;
    height: 60px;
}