/* menu styling */
nav {
    background:white;
    font-family: Arial, sans-serif;
}
nav ul{
    display:flex;
    flex-direction:column;
    padding-inline-start: 0px;
    margin:0px;
}
nav ul li :not(.logo){
    display:none;
}
nav ul li .logo img{
    display:inline-block;
}
nav li{
    display:flex;
    flex-direction:column;
}
nav li a:hover{
    color:white;
    background:#436984;
}
/* show menu in mobile when hovering over logo */
nav ul:hover li a{
    display:flex;
    justify-content:center;
}
nav a {
text-align: center;
padding:8px;
text-decoration:none;
color:#111;
font-size:20px;
font-weight:700;
}

/* footer styling */

.foot {
    padding-top:10px;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.foot .block1, .foot .block2, .foot .block3{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:170px;
}

.foot .block3{
    padding:20px 0;
}

.foot p{
    padding:2px 10px;
    font-size:14px;
    margin-block-start:0px;
    margin-block-end:0px;
    text-align:center;
    font-weight:700;
}

.foot img{
    height:50px;
}

.foot a{
    text-decoration:none;
    color:black;
}

/* Desktop & laptop styling */
@media screen and (min-width:640px){

    header{
        position:fixed;
        width:100%;
        top:0px;
    }
    nav{
        background:white;
        
    }

    nav ul {
        display:flex;
        flex-flow: row nowrap;
        align-items:center;
        justify-content:space-around;

    }
    nav ul li :not(.logo){
        display:flex;
    }

    nav ul li:nth-child(2){
        order:-2;
    }
    nav ul li:nth-child(3){
        order:-2;
    }

    nav ul li{
        display:flex;
        align-items:center;
        width:100%;
        line-height:100px;
        color:white;
    }

    nav ul li .logo img{
        display:flex;
    }
    nav ul li:hover{
        background:#436984;
        
    }
    nav ul li:hover a{
        color:white;
    }

    /* menu styling */

    .foot{
        flex-direction:row;
    }
    .foot .block1, .foot .block2, .foot .block3{
        flex-direction:column;
        align-content:space-between;
        width:100%;
        /* background:red; */
        height:100px;
    }
    .foot .block2 img{
        height:30px;
    }
    .foot .block3{
        /* padding:0px; */
    }
}