/* for all - no media queries */

/* setup & reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    
    /* typography section */
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    text-align: center;
    color: #845EC2;
    color: #00C9A7;
    color: #4D8076;
    color: #C4FCEF;
    
}

p {
    
}

h1 {
    font-size: 4em;
    margin-top: 0;
    padding: .1em;
    /* background-color: azure; */
    background-color: rgba(240, 255, 255, .5); /* color:azure */
    border-radius: 12px;
    
}

.slogan-page{
    background-image: url("img/background_hero.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed; 
    height: 100vh;
    background-color: rgba(0,0,0,1);
}
.slogan-page>.name-app{
    font-family: "Pacifico", cursive;
}

.form>a{
    background-color: azure;
    border: solid;
    border-radius: 12px;
    padding: .5rem;

    text-decoration: none;
    font: bold 1rem sans-serif;
}

.feater_30 {
    height: 100vh;
}
@media screen and (max-width: 499px) {
    .mobile--hide {
        display: none;

    }
}