/* universal */
*{
box-sizing: border-box;
}
body{
    margin:0px;
}
/* menu  */
nav {
    background:white;
    font-family: Arial, sans-serif;
}
nav ul{
    display:flex;
    flex-direction:column;
    padding-inline-start: 0px;
    margin:0px;
}
nav ul li :not(.logo){
    display:none;
}
nav ul li .logo img{
    display:inline-block;
}
nav li{
    display:flex;
    flex-direction:column;
}
nav li a:hover{
    color:white;
    background:purple;
}
/* show menu in mobile when hovering over logo */
nav ul:hover li a{
    display:flex;
    justify-content:center;
}
nav a {
text-align: center;
padding:8px;
text-decoration:none;
/* background-color: orange; */
color:#111;
font-size:20px;
font-weight:700;
}

/* Desktop & laptop styling */
@media screen and (min-width:640px){

    header{
        position:fixed;
        width:100%;
        top:0px;
    }
    nav{
        background:white;
        
    }

    nav ul {
        display:flex;
        flex-flow: row nowrap;
        align-items:center;
        justify-content:space-around;
    }
    nav ul li :not(.logo){
        display:flex;
    }

    nav ul li:nth-child(2){
        order:-2;
    }
    nav ul li:nth-child(3){
        order:-2;
    }

    nav ul li{
        display:flex;
        align-items:center;
        width:100%;
        line-height:100px;
        color:white;
    }

    nav ul li .logo img{
        display:flex;
    }
    nav ul li:hover{
        background:purple;
        
    }
    nav ul li:hover a{
        color:white;
    }

    main{
        margin-top:115px;
    }
}