/* for all - no media queries */

/* setup & reset */
* {
    box-sizing: border-box;
}

/* variables */
:root {
   /* colors */
   --main-color-1: #845EC2;
   --main-color-2: #00C9A7;
   --main-color-3: #4D8076;
   --main-color-4: #C4FCEF;
   --main-text-color: white;
  }

body {
    margin: 0;
    padding: 0;
    display: block;
    
    /* typography section */
    
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    text-align: center;

    color: var(--main-text-color);
}

h1 {
    font-size: 4em;
    margin-top: 0;
    padding: .1em;
    /* background-color: azure; */
    background-color: rgba(240, 255, 255, .5); /* color:azure */
    border-radius: 12px;
    color: var(--main-color-3);
}

.slogan-page{
    background-image: url("img/background_hero.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed; 
    height: 100vh;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        /* bottom, image */
        url("img/background_hero.png");
    
    /* flex config */
    display: flex;
    flex-direction: column;
    /* border */

}

.slogan-page>.name-app{
    font-family: "Pacifico", cursive;
    color: var(--main-color-1);
}
.slogan-page>.form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.form>a{
    background-color: var(--main-color-4);
    border: solid;
    border-radius: 12px;
    padding: .5rem;

    text-decoration: none;
    font: bold 1rem sans-serif;
}

.feater_30 {
    height: 100vh;
}

@media screen and (max-width: 499px) {
    .mobile--hide { /* hide description in hero section */
        display: none;

    }
}