/* universal */
*{
box-sizing: border-box;
}

/* menu  */

nav {
    display: flex; 
    flex-direction:column;
    align-items: stretch;
    background: #baddad;
    box-shadow: 0 5px 15px -10px #111;
    font-family: 'Pacifico', sans-serif;
    font-size:2em;    
}

h4 {
    font-weight:400;
    border-radius: 100%;
    background: #111;
    box-shadow:
    0 0 0 5px #beddef,
    0 0 0 10px #111;
    font-size: 1.5em;
    color: #beddef;
    padding: 24px;
    text-align:center;
    background-color:green;
    width:100px;
    margin:0.5em auto 0.5em;
}
ul{
    padding-inline-start: 0px; /* override user agent */
    display:none;
}
nav:hover ul{
    display:initial;
    
}
li{
    display:flex;
    flex-direction:column;
}

li a:hover{
    color:white;
}

a {
text-align: center;
border-bottom: 1px solid #111;
padding:24px;
text-decoration:none;
background-color: orange;
color:#111;
}

/* Desktop & laptop styling */
@media screen and (min-width:700px){

nav {
    display:flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:space-around;
    /* flex: 1 1 100px; */
}
h4{
margin:1em;
padding:0px;   

}

nav:hover ul{
display:flex;
}

ul{
    display:flex;
}




}